body
{

    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: #cccccc;
    width: 100%;
    height: 100%;

}

.nav
{
    list-style: none;
    display: flex;
    background-color: darkslategray;
    margin : 0;
    padding: 0;
}
.menu-item
{
    display: flex;
    margin: 20px;
    float: left;


}

.menu-item a
{
    color:white;
    text-align: center;
    text-decoration: none;
    font-style: oblique;

}

.menu-item a:hover
{
    color: lightsteelblue;
}

.logo
{
    background-color: orange;
    display: flex;
    text-align: center;
    position: center;

}

.text
{
   padding-top: 20px;
    font-weight: bolder;


}
.logo-img
{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100px;
    height: 50px;
}
.menu
{
    display: flex;
    list-style: none;
    background-color: darkslategray;
    position: fixed;
    z-index:1;
    overflow: auto;
    width: 100%;


}

.title-text
{
    position:relative;

    padding-left: 20%;
    padding-top: 10%;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    top: inherit;

}

.nav ul
{
    margin: 0;
    padding: 0;
}

.title-img
{
    position: relative;
    width: 100%;
    height: 600px;


}
.title-img::before {
    content: "";
    background-image: url("img/bg-dog.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 58px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}

.under-text
{
    padding-left: 20%;
    font-size: larger;
    color: darkslategray;
    font-weight: bold;
    padding-right: 25%;


}

.title-button
{
    background-color: darkslategray;
    color: white;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    padding: 15px 32px;
    margin-left: 20%;
    border: none;
    border-radius: 20%;
    display: flex;
}

.img-left
{
    padding: 5% 10% 5% 10%;
    display: flex;
    float: left;

}
.flex
{
    padding-bottom: 10%;
    display: inline;
    height: auto;
}

.nadpis1
{
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

.right-text
{
    padding-left: 12%;
    padding-right: 10%;
    font-size: medium;
    color: darkslategray;
    font-weight: bold;

}

.foot
{
    width: 100%;
    background-color: darkslategray;
    color: darkgray;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    position: relative;
    bottom: 0;
}
.nn
{
    display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;

}

th, td {
    text-align: left;
    padding: 16px;
    background-color: lightgray;
}

.tabulka
{
    position: relative;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.sel {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media only screen and (max-width: 650px) {
    .menu {
        display: inline-block;

    }

    .logo-img {
        padding: 0;
    }

    .logo, .nav {
        justify-content: center;

    }

    .title-text {
        padding-top: 120px;

    }

    .img-left
    {
        width: 100%;
        padding: 5% 0 5% 0;
        margin: 0;
        justify-content:  center;
    }
}
@media only screen and (max-width: 268px) {

    .nn {
        width: 100%;

    }
    .nav
    {
        display: block;
        float: left;
        position: relative;
    }
     .logo
    {
        width: 100%;

    }
     .menu-item,.logo
     {
         width: 100%;
         float: none;
     }
     .menu
     {
         position: relative;
     }
     .title-text, .under-text,.right-text,.nadpis1
     {
         padding: 0;
         font-size: medium;
         color:black;
     }
     .title-button
     {
         margin: 0;
     }
     .title-img::before
     {
         background-image: none;

     }
     .title-img
     {
         height: auto;
     }

}

